@import url(https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Montserrat:wght@900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap);

html, body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 102);
  color: rgb(226, 223, 210);
}

.tech-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .pill {
    padding: 0.3rem 0.5rem;
    border-radius: 30px;
    text-align: center;
    font-size: 90%;
    margin-bottom: 0.1875rem;
    margin-right: 0.5rem;
    background: rgb(153, 204, 255);
    color: rgb(0, 0, 102);
    font-weight: bold;
  }
}

.container {
  width: 100vw;
  height: 100vh;

  section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 90%;

    h1 {
      padding-top: 1.75rem;
      font-family: 'Urbanist', sans-serif;
      text-transform: uppercase;
      font-size: 150%;
      letter-spacing: 1px;
      font-weight: 900;
      color: rgb(153, 204, 255);
    }
  }

  #intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

   h1 {
    font-size: 300%;
    font-family: 'Urbanist', sans-serif;
    text-transform: capitalize;
    margin-top: -5rem;
    margin-bottom: 0;
    padding-top: 0;
    color: rgb(153, 204, 255);
    font-weight: 900;
    letter-spacing: 2px;

    .first-letter {
      font-size: 125%;
    }
   }

   h3 {
    margin-top: 0;
    font-family: "Inter", sans-serif;
    font-weight: normal;
   }
  }

  #skills {
    .content {
      width: 100%;
                  
      section {
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-family: 'Inter', sans-serif;
        font-size: 90%;
        
        h3 {
          text-align: center;
          font-family: 'Urbanist', sans-serif;
          text-transform: uppercase;
        }
      }
    }
  }

  #experience {
    .content {
      section {
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;

        .tech-container {
          justify-content: flex-start;
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 90%;
        }

        p.left {
          text-align: left;
        }

        h3 {
          margin-top: 0;
          font-size: 100%;
          text-align: left;
        }

        ul {
          li {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  #projects {
    .content {
      section {
        margin: 0;
        margin-bottom: 1.5rem;
        padding: 0;
        font-family: 'Inter', sans-serif;

        .tech-container {
          justify-content: flex-start;
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 90%;
        }

        p.left {
          text-align: left;
        }

        h3 {
          margin-top: 0;
          font-size: 115%;
          text-align: left;
        }
      }
    }
  }
}