nav {
    display: flex;
    align-items: center;
    width: 8vw;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 99;
    margin: 0;

    ul {
        width: 100%;
        margin: 0;
        padding: 0 1.5rem 0 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        border-right: 1px solid black;

        li {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding: 0.625rem;

            a {
                width: 100%;
                text-decoration: none;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}